{% extends 'blog/base.html' %}

{% load static %}
{% block content %}
    <section id="intro">
        <div class="usp">
            <div class="texte">
                <h2> Réduisez l'empreinte carbone de vos produits et soyez acteur de la transition écologique. </h2>
                <h3> ecosketch aide les concepteurs et designers à réduire l'impact écologique de leurs produits. </h3>
            </div>
            <div class="cta">
                <a href="{% url 'index' %}" class="bouton_cta">voir une démonstration</a> 
            </div>
        </div>
        <div class="illustration">    
            <img src="{%static 'blog/img/illustration.jpeg' %}" alt="image" />
        </div>
    </section>
    <section class="presentation-blog">
        {% include 'blog/nav_blog.html' %}
        {% include 'blog/list.html' with list_title='' %}
    </section>
{% endblock %}
