body
{
    background-color: white;
    font-family:  helvetica;
    font-weight: normal;
    font-style: normal;
    margin:0;
    padding-top:0;
}

h1, h2, h3
{
    font-weight: normal;
}

#bloc-page
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
    max-width:1980px;
    min-height:400px;
/*    margin:auto; */
    background-color:white;
    margin-top:75px;
    padding-top:0;
}

a
{
    text-decoration:none;
}
/*=======================================================================*/
/* HEADER début ===> */
header
{
    position: fixed;
    left:0px;
    top:0px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-end;
    width:100%;
    max-width:1980px;
    height:75px;
    background-color:white;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    z-index:2;
}


/*  logo début ===>  */


#logo
{
    margin:10px 0px 5px 30px;
}
#logo img 
{
    width:240px;
    height:55px;
}

    
/*  <=== fin logo */

/*  barre de navigation début ===>  */


#navbar
{
    display:block;
}


#bouton_menu_deroulant
{
    display:none;
}

#menu
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
    margin-left:10px;
    margin-bottom:5px;
}

li
{
    list-style-type:none;
}

.bouton_menu 
{
    display:flex;
    width:150px;
    height:30px;
    margin:5px 5px 5px 5px;
    align-items:center;
    justify-content:space-around;
    color:#2C3E50;
    font-size:1.2em;
}

a.bouton_menu:hover
{
    font-weight:bold;
}


/*  <=== fin barre de navigation */
/* <=== fin HEADER */

/*==========================================================================*/

/* BLOC MAIN début ===> */

main
{
    flex:1 1 0px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-top:0px;

}

/*  bloc intro début ===> */

#intro
{   
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:350px;
    font-weight: normal;
    margin-top:0;
    margin-bottom:0px;
    background-color:#E7E7EE; 
}

.usp
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
    max-width:600px;
    padding:0px 20px 0px 20px;
}

.texte h2
{  
    
    font-size:1.5em;
    font-weight:bold;
    padding-bottom:10px;
    margin:0px;
}

.texte h3
{  
    
    font-size:1.25em;
    padding-bottom:30px;
    margin:0px;
}

.cta
{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.bouton_cta
{
    display:flex;
    border-radius:15px;
    width:320px;
    height:50px;
    background-color:#FE5A02;
    justify-content:space-around;
    align-items:center;
    color:white;
    font-size:1.5em;
    font-weight:bold;
}

a.bouton_cta:hover
{
    text-decoration: underline;
    background-color:#FE772E;
}

.illustration img
{
    width:200px;
    margin: 20px 0px 20px 0px;
    border-radius:10px;
}

/*  <=== fin bloc intro */

/* bloc presentation_blog debut===> */

.presentation-blog, .mise_en_page_listing, .mise_en_page_article
{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    margin-top:15px;
}

.navbar-categories
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    padding:10px;
    background-color:#E7E7EE;
    margin:0;
    flex-basis:50%;
}

.bouton-blog-tous
{
    display:flex;
    width:60px;
    height:30px;
    margin:5px 5px 5px 5px;
    justify-content:center;
    align-items:center;
    color: #2C3E50; 
    font-size:1.0em;
    border-radius:10px;
    background-color:white;
}

/*---------------*/
.presentation-blog .navbar-categories
{
    background-color:white;
} 


.presentation-blog .bouton-blog-tous
{
    background-color:#E7E7EE;
} 
/*---------------*/


.mise_en_page_listing .navbar-categories
{
    background-color:#E7E7EE;
} 


.mise_en_page_listing .bouton-blog-tous
{
    background-color:white;
} 

.bouton-blog-light
{
    display:flex;
    width:200px;
    height:30px;
    margin:5px 5px 5px 5px;
    justify-content:center;
    align-items:center;
    color: white; 
    font-size:1.0em;
    font-weight:bold;
    border-radius:10px;
    background-color:#FE5A02;
}

.bouton-blog
{
    display:flex;
/*    width:200px;*/
    height:30px;
    margin:5px 5px 5px 5px;
    justify-content:center;
    align-items:center;
    color: #2C3E50; 
    font-size:1.0em;
/*    border:2px blue solid; */

}
a.bouton-blog-tous:hover, a.bouton-blog:hover
{
    font-weight:bold;
}

.presentation-blog .searchbar
{
    display:none;
}

.presentation-blog .titrebar
{
    display:none;
}

.searchbar
{
    text-align:center;
    margin-top:10px;
}

.champ_recherche
{
    position:relative;
    width:160px;
    z-index:1;
}


#texte-recherche
{
    background-color:#E7E7EE;
    width:75px;
    border-style:none;
    border-bottom:1px black groove;
}

#texte-recherche:hover
{
    border-bottom:1px #FE5A02 solid;
    color: #2C3E50;
}

#texte-recherche:focus
{
    border-bottom:2px #FE5A02 solid;
    outline:0 none;
    width:120px;
    color: #2C3E50;
} 

#bouton-loupe
{
    margin-top: -13px;
	position: absolute;
    height:25px;
	top: 50%;
	right: 5px;
}


.titrebar
{
    font-size:1.0em;
    font-weight:bold;
    text-align:center;
}
/*
.centrage-liste-article
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    border:2px red solid;
}
*/

.liste_articles
{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    width:auto;
    flex-shrink:auto;
    flex-grow:1;
}

.mini-article
{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    width:300px;
    padding:10px;
    margin:10px 20px 10px 20px;
}

.mini-article img
{
    width:300px;
    height:200px;
    border-radius:10px;
}

.mini-article h3
{
    width:300px;
    margin:10px 0px 10px 0px;
    text-align:justify;
    overflow:auto;
    color:black;
    font-size:1.2em;
    word-wrap:break-word;
    font-weight:bold;
}

.mini-article p
{
    width:300px;
    margin:0px;
    text-align:justify;
    overflow:auto;
    color:black;
    font-size:1.0em;
    word-wrap:break-word;
}

.mini-article .bouton_suite
{
    width:120px;
    height:20px;
    margin:10px 0px 10px 0px;
    padding:5px 3px 0px 5px;
    text-align:justify;
    overflow:auto;
    font-size:0.9em;
    word-wrap:break-word;
    color:black;
    background-color:#E7E7EE;
    border-radius:3px;
}

.mini-article .date
{
    margin-top:5px;
    color:black;
    font-style:italic;
    font-size:0.9em;
}

.mini-article:hover
{
    background:linear-gradient(to top, #E8FEF8, #F8FAFA);
    border-radius:17px;
}    

a.bouton_suite:hover
{
    font-weight:bold;
    color:white;
    background-color:#FE5A02;
}

/* <=== fin bloc presentation_blog et mise_en_page_listing */

/* <=== fin BLOC MAIN */

/*=================================================*/

/* FOOTER début ===>*/
footer
{
    display: flex;
    flex-direction: column;
    background-color:#464646;
    color:white;
}

.contenu_footer
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:flex-start;
    text-align:justify;
    padding-top:10px;
}

.contenu_footer p
{
    text-align:justify;
    font-size:0.8em;
}

.description
{
    width:400px;
    padding: 0px 10px 0px 10px;
}


footer p
{
    text-align:center;
}


.lien_footer
{
    color:white;
}

a.lien_footer:hover
{
    font-weight:bold;
}

/* <=== fin FOOTER */

/*=================================================*/


.lien_saisie
{
    color:blue;
}

a.lien_saisie:hover
{
    font-weight:bold;
}

.creation-models
{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    text-align:justify;
    padding-top:10px;
}


